@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13 17 23;
    --background-hex: #0d1117;
    --foreground-hex: #c9d1d9;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: #c9d1d9;
}

/* Infinity Dash Animations - Infinite Looping */
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -100;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 100;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}